.header {
    display: flex;
    justify-content: space-between;
    align-items: center;


    height: 56px;
    width: 100%;

    font-weight: 500;
    font-size: 18px;
    line-height: 26px;

    padding: 0 16px;
}

.interactive {
    display: flex;
    align-items: center;
    gap: 8px;
}
