.panel {
  padding-top: 35px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  height: 1028px;
  width: 152px;
  background: #BDBDBD;
}

.title {
  line-height: 14px;
  font-size: 12px;
}